<% form_tag do %>
	<table>
		<tr>
			<td>
				<img src="http://captchator.com/captcha/image/pizza<%=session.session_id%>" />
			</td>
			<td>
				<%= text_field_tag :captcha %>
			</td>
		</tr>
	</table>
    <%= submit_tag "login"%>
<% end %>
