<% form_tag do %>
	<table>
		<tr>
			<td>
				 <% session_id = rand(10_000) %>
				  <img src="http://captchator.com/captcha/image/ipoll_<%= session_id -%>" />
				  <input name="session_id" type="hidden" value="<%= session_id -%>" />
			</td>
			<td>
				<%= text_field_tag :captcha %>
			</td>
		</tr>
		<tr>
			<td>
				Type in Exact letters
			</td>
			<td>
				<%= submit_tag "login"%>
			</td>
		</tr>
	</table>
<% end %>
